Auto_Admin__PORT="3000"
Auto_Admin__HOST="localhost"
Auto_Admin__NODE_ENV="development"
Auto_Admin__LOG_LEVEL="info"
Auto_Admin__TRUST_PROXY_HOPS="0"
Auto_Admin__CORS_ALLOWED_ORIGINS="http://localhost:5173,http://localhost:5177"
Auto_Admin__INSTALL_TOKEN="153b6346355ab5a036dca8559112f18ed7855d5ebfcbe16ed9f897c8ecf9f6c1"
Auto_Admin__DB_CONNECT_TIMEOUT_MS="5000"
Auto_Admin__DB_QUERY_TIMEOUT_MS="30000"
Auto_Admin__LOGIN_RATE_LIMIT="10"
Auto_Admin__LOGIN_RATE_WINDOW_MS="60000"
Auto_Admin__INSTALL_RATE_LIMIT="5"
Auto_Admin__INSTALL_RATE_WINDOW_MS="60000"
Auto_Admin__AUTH_USER_ATTEMPT_LIMIT="10"
Auto_Admin__AUTH_IP_ATTEMPT_LIMIT="100"
Auto_Admin__AUTH_IP_USER_ATTEMPT_LIMIT="5"
Auto_Admin__AUTH_SHORT_WINDOW_SECONDS="900"
Auto_Admin__AUTH_IP_WINDOW_SECONDS="86400"
Auto_Admin__LOGIN_ATTEMPT_RETENTION_DAYS="30"
